@import url(../src/fonts/font.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

.flex{
    width: 70%;
    margin-left: auto;
    padding-right: 90px;
    padding-top: 50px;
}
.navbar{
    width: 80%;
    margin-left: auto;

}
